/* colors:
#EEF5FA
#457B9D
#1D3557 */
.button:hover {
  background-color: #1d3557;
}
/* HOMEPAGE */
body {
  background-color: #eef5fa;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1020px !important;
}

.icon-home {
  border: 5px solid #457b9d;
  font-size: 20px;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  align-items: center;
  line-height: 65px;
  color: #1d3557;
}

.web-box h3 {
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.web-box p {
  margin: 0 0 10px;
  padding: 0 50px;
}

/* AUTH */
.button__submit {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  background-color: #457b9d;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

/* SEARCH */
.sidebar {
  background-color: #457b9d;
  color: #eef5fa;
  padding: 20px;
  border-radius: 5px;
  margin-left: 0.75rem;
}

.place-click {
  border-bottom: 1px solid #1d3557;
  padding: 20px;
}

/* DETAIL */
.add-button p {
  text-decoration: none;
  color: #e3f2ff;
}

.fa-plus {
  color: #457b9d;
}

.fa-heart {
  color: red;
}

.fa-breastfeeding {
  background-image: url("./breastfeeding.svg");
  background-size: cover;
  width: 1rem;
  height: 1rem;
}

.fa-elevator {
  background-image: url("./elevator.svg");
  background-size: cover;
  width: 1rem;
  height: 1rem;
}
.fa-wall {
  background-image: url("./wall.svg");
  background-size: cover;
  width: 1rem;
  height: 1rem;
}
.fa-playarea {
  background-image: url("./playarea.svg");
  background-size: cover;
  width: 1rem;
  height: 1rem;
}
.fa-kidmenu {
  background-image: url("./kidmenu.svg");
  background-size: cover;
  width: 1rem;
  height: 1rem;
}
.fa-wheelbath {
  background-image: url("./wheelbath.svg");
  background-size: cover;
  width: 1rem;
  height: 1rem;
}
.list li {
  background-color: #eef5fa;
  border: none;
}

.place {
  color: #1d3557;
}

.heart {
  font-size: 1.2rem;
}

.infos-section {
  background-color: #457b9d;
  color: #e3f2ff;
  padding: 20px;
  border-radius: 1rem;
}

.comment-section,
.checkboxes {
  border: 1px solid #1d3557;
  padding: 20px;
  border-radius: 1rem;
  margin-top: 10px;
}
