/* colors:
#EEF5FA
#457B9D
#1D3557 */
.button:hover {
  background-color: #1d3557;
}
/* HOMEPAGE */
body {
  background-color: #eef5fa;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-home {
  border: 5px solid #457b9d;
  font-size: 20px;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  align-items: center;
  line-height: 65px;
  color: #1d3557;
}

.web-box h3 {
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.web-box p {
  margin: 0 0 10px;
  padding: 0 50px;
}

/* AUTH */
.button__submit {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  background-color: #457b9d;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

/* SEARCH */
/* .search-page {
  width: 100vw;
  height: 100vh;
  background-color: #1d3557;
  position: relative;
}

.search-page .container-fluid {
  height: 100vh;
}

.search-page .container-fluid::after {
  background-image: url("./mark-luis-v7ya7eVV9pI-unsplash.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.search-page form {
  z-index: 10;
} */
